*node_modules*
*output*
*.psc-package*
*.d
*.o
*.blend1
ffi/arrays/*
ffi/assert/*
ffi/console/*
ffi/effect/*
ffi/foldable-traversable/*
ffi/functions/*
ffi/integers/*
ffi/math/*
ffi/partial/*
ffi/prelude/*
ffi/purescript-native-ffi*
ffi/refs/*
ffi/st/*
ffi/unsafe_coerce/*

!ffi/prelude/data-ord-unsafe.cpp
!ffi/arrays/data-array.cpp
